#card{
  background-color: rgba(0, 0, 255, 0.871);
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  margin-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#card h1{
  font-weight: 900;
}
p{
  font-size: 18px;
}
nav{
  background-color: aquamarine;
  padding:  20px;
  margin-bottom: 10px;
  
}